src/org/ifmc/mat/server/service/impl/xsd/SimpleXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="mns" xmlns:msr="mns" targetNamespace="mns" elementFormDefault="qualified">
   
   <xs:include schemaLocation="SimpleXML_AbbreviationDataTypes.xsd"/>
   <xs:include schemaLocation="SimpleXML_BaselineDataTypes.xsd"/>
   <xs:include schemaLocation="SimpleXML_ElementLookupDataTypes.xsd"/>
   <xs:include schemaLocation="SimpleXML_HeaderDataTypes.xsd"/>
   <xs:include schemaLocation="SimpleXML_ObservationDataTypes.xsd"/>
   <xs:include schemaLocation="SimpleXML_PopulationDataTypes.xsd"/>

   <xs:element name="measure">
      <xs:complexType>        
         <xs:sequence>
            <xs:element name="headers" type="headerInfoType">
               <xs:annotation>
                  <xs:documentation>
                     Header: Contains metadata for the quality measure.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="abbreviations" type="abbrElementType" minOccurs="0" maxOccurs="1">
               <xs:annotation>
                  <xs:documentation>
                     Abbreviations: Groups the abbreviations for the nicknamed QDM and measure elements (qdsels and measureels respectively)
                  </xs:documentation>
               </xs:annotation>           
            </xs:element>
            <xs:element name="elementlookup" type="elementLookupType" minOccurs="1" maxOccurs="1">
               <xs:annotation>
                  <xs:documentation>
                     Element Lookup: Groups the element lookup information used to create the measure logic: QDM and measure elements, attributes and functions (qdsels, measureels, propels and measurecalcs respectively)
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="population" type="populationType" minOccurs="1" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     Population: Contains the measure logic for a particular population. A population identifies the eligible group of patients that the performance measure is designed to address; usually focused on a specific disease process (e.g., coronary artery disease, asthma). Details could include such information as specific age groups, diagnoses, diagnostic and procedure codes, enrollment periods, insurance and health plan groups, etc. For example, a patient aged 18 years and older with a diagnosis of CAD who has at least 2 visits during the measurement period. The Initial Patient Population is the same across all quality measures within a single quality measure set. All patients counted (e.g. as Numerator, as Denominator), are drawn from the Initial Patient Population. (Can have inclusion and exclusion criteria).
                  </xs:documentation>
               </xs:annotation>
            </xs:element>            
            <xs:element name="denominator" type="populationType" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     Denominator: Contains the measure logic for a particular denominator. The denominator is the lower part of a fraction used to calculate a rate, proportion, or ratio. The Denominator is a subset of the Initial Patient Population, grouped for inclusion in a specific performance measure based on specific criteria (e.g., patient's age, diagnosis, prior MI). Different measures within a measure set may have different Denominators (e.g. measure #1 Denominator = Initial Patient Population AND Smoker; measure #2 Denominator = Initial Patient Population AND Atrial Fibrillation).(Can have inclusion and exclusion criteria). (Continuous Variable measures do not have a Denominator, but instead define a Measure Population).
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="exclusions" type="populationType" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     Denominator Exclusions: Contains the measure logic for a particular denominator exclusion. Equals Initial Patient Population minus Denominator. Measure Exclusions apply to patients who are included in the Initial Patient Population but who do not meet the measure denominator criteria (e.g. CAD and no prior MI), for an individual measure within that same clinical topic. Measure Exclusions are not considered to be part of a given measure’s denominator. They are removed from the eligible population for a measure in order to identify patients who qualify for the denominator.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>            
            <xs:element name="denominatorobservation" type="observationType" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     Denominator Observation: Contains the logic for the Denominator Observation section. This is used strictly with Ratio measures.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="numerator" type="populationType" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     Numerator: Contains the measure logic for a particular numerator. The numerator is the upper portion of a fraction used to calculate a rate, proportion, or ratio. For a Proportion Measure, the Numerator is a subset of the Denominator, which defines the group of patients in the denominator for whom a process or outcome of care occurs (e.g., flu vaccine received).
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="numeratorobservation" type="observationType" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     Numerator Observation: Contains the logic for the Numerator Observation section. This is used strictly with Ratio measures.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="exceptions" type="populationType" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     Denominator Exceptions: Contains the measure logic for a particular exception. Cases that meet the Denominator criteria and do not meet the Numerator criteria can be counted as Denominator Exceptions if they meet the Denominator Exception criteria. Cases in the Denominator that meet the Numerator criteria are not counted as Denominator Exceptions. Denominator Exceptions are the valid reasons for patients who are included in the denominator population, but for whom a process or outcome of care does not occur. Patients may have Denominator Exceptions for medical reasons (e.g., patient has an egg allergy so they did not receive flu vaccine); patient reasons (e.g., patient refused flu vaccine); or system reasons (e.g., patient did not receive flu vaccine due to vaccine shortage). These cases are removed from the denominator for the performance logic, however the logic can indicate the number of patients with valid exceptions for reporting.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="numeratorExclusions" type="populationType" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     Numerator Exclusions: Contains the measure logic for a particular numerator exclusion. Equals Initial Patient Population minus Denominator. Measure Exclusions apply to patients who are included in the Initial Patient Population but who do not meet the measure denominator criteria (e.g. CAD and no prior MI), for an individual measure within that same clinical topic. Measure Exclusions are not considered to be part of a given measure’s denominator. They are removed from the eligible population for a measure in order to identify patients who qualify for the denominator.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="measurepopulation" type="populationType" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     Measure Population: Contains the measure logic for a particular measure population. Continuous variable measures do not have a Denominator, but instead define a Measure Population. To be in the measure population, a patient is in the larger Initial Patient Population appropriate to the measure set and is not excluded from the individual measure. (Can have inclusion and exclusion criteria). (Proportion and Ratio measures do not have a Measure Population, but instead define a Denominator).
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="measureobservation" type="observationType" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     Measure Observation: Contains the measure logic for a reportable measure calculation(s). While some quality measures only define data criteria and population criteria, other quality measures also define variables or calculations that are used to score a particular aspect of performance. For instance, a measure intends to assess the use of restraints. Population criteria for the measure include "patient is in a psychiatric inpatient setting" and "patient has been restrained". For this population, the measure defines a measure observation of "restraint time" as the total amount of time the patient has been restrained. Measure observations are not criteria, but rather, are definitions of observations, used to score a measure. At present, Measure Observations are not directly tied to any particular population. 
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="stratification" type="populationType" minOccurs="0" maxOccurs="1">
               <xs:annotation>
                  <xs:documentation>
                     Stratification: Contains the measure logic for the stratification section. 
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="supplemental" type="populationType" minOccurs="0" maxOccurs="1">
               <xs:annotation>
                  <xs:documentation>
                     Supplemental: Contains the logic for the Supplemental Data Element section. CMS uses this particular section to require certain information they want reported for every CMS measure.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>            
         </xs:sequence>
      </xs:complexType>
      <xs:keyref name="ab_qdselIdRef" refer="el_qdselId">
         <xs:selector xpath="msr:abbreviations/msr:qdsel"/>
         <xs:field xpath="@id"/>                  
      </xs:keyref>  
      <xs:key name="el_qdselId">
         <xs:selector xpath="msr:elementlookup/msr:qdsel"/>
         <xs:field xpath="@id"/>
      </xs:key>
      <xs:keyref name="ab_msrelIdRef" refer="el_msrelId">
         <xs:selector xpath="msr:abbreviations/msr:measureel"/>
         <xs:field xpath="@id"/>                  
      </xs:keyref>  
      <xs:key name="el_msrelId">
         <xs:selector xpath="msr:elementlookup/msr:measureel"/>
         <xs:field xpath="@id"/>
      </xs:key>
      <xs:key name="el_propellId">
         <xs:selector xpath="msr:elementlookup/msr:propel"/>
         <xs:field xpath="@id"/>
      </xs:key>
      <xs:key name="el_msrcalcId">
         <xs:selector xpath="msr:elementlookup/msr:measurecalc"/>
         <xs:field xpath="@id"/>
      </xs:key>
   </xs:element>
   
</xs:schema>
